@import '~src/scss/const';




.start-component-container {
    width: 100%;
    height: 100vh;
    background-image : url("../../../../assets/backgrounds/home-bg.jpg");
    @include bgSettings(cover,no-repeat ,center );
    .start-component-wrapper {
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        position: relative;
        .header-title-wrapper {
            opacity: 0;
            transition: .4s opacity;
            &.loaded {
                opacity: 1;
            }
            h1 {
                font-size: em(70);
                font-weight: 700;
                font-family: $headerFont;
                text-shadow: -2px -1px 5px rgba(150, 150, 150, 0.95);
                color: $headerColor;

                // @include textStyle($headerColor, , , , )
            }
            .start-container{
                margin-bottom: em(10);
                a {
   
                    font-weight: 700;
                    letter-spacing: 1.3px;
                    &:hover {
                        transform : scale(1.05);
                    }
                }
            }
            .created-container {
                p {
                    font-size: em(14);
                }
            }
        }
    }
}