@import '~src/scss/const';


.preloader-container {
    .preloader-wrapper {
        @include bgSettings(cover, no-repeat, center);
        background-image: url("../../../../assets/backgrounds/preloader.gif");
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}