<section class="introduction-component-container">
    <div class="introduction-component-wrapper">
        <div class="intro-content-wrapper animated" >
            <p class="animated-child">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus consequuntur inventore quis necessitatibus qui adipisci minima odio explicabo modi similique.</p>
            <p class="animated-child">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni eligendi quas quidem, iusto quae commodi tenetur officiis accusantium reprehenderit nemo ea, nesciunt, animi tempore rerum dicta corporis sapiente! Ratione, fugit.</p>
            <p class="animated-child">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, asperiores?</p>
            <p class="animated-child">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam, dolores iusto adipisci accusantium odit exercitationem! Voluptatem ea tenetur aut, nobis cumque similique repellat accusamus!</p>
        </div>
        <div class="btn-container animated">
            <a routerLink="/character-creation" class="btn-create animated-child">Create Character <i class="fas fa-caret-right"></i></a>
        </div>
    </div>
</section>