// Functions for px to em conversion
$browser-context: 18; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

@function px($pixels, $context: $browser-context) {
    @return #{$pixels/$context};
}

// Mixins for default styles 


$grey : #ececec;
$orange : #fc7233;



.character-creation-container {
    padding-top: em(50);
    .character-creation-wrapper {
        .header-container {

        }
        .sidebar {
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style-type: none;;
                }
            }
        }
        .character-info-container {
            .race-container {

            }
            .gender-container {
                
            }
            .class-container {
                
            }
            .name-container {
                .name-wrapper {
                    .form-name-wrapper {
                        display: flex;
                        flex-direction: column;
                        width: em(350);
                        margin: em(25) auto;
                        input {
                            border:  1px solid $orange;
                            padding: em(10) em(5);
                            background-color: transparent;
                            border-radius: 5px;
                        }
                        button {
                            border-color: transparent;
                            
                        }
                    }
                }
            }
        }
    }
}