@import '~src/scss/const';


.character-creation-container {
    padding-top: em(50);
    .character-creation-wrapper {
        .header-container {
            padding-bottom: em(100);
            h1 {
                font-family: $headerFont;
                @include textStyle ($headerColor, 40, 1.1, 40 , 700);
            }
        }
        .modal-container {
            background-color: rgba(0, 0, 0, 0.5);
            &.modal-is-active {
                display: flex !important;
                justify-content: center  ;
                align-items: center;
            }
            .modal-wrapper {
                min-height: em(650);
                height: auto;
                background: white;
                width: 80%;
                padding: em(25);
                border-radius: 7px;
                -webkit-box-shadow: 0px 0px 8px 0px rgba(204,204,204,1);
                -moz-box-shadow: 0px 0px 8px 0px rgba(204,204,204,1);
                box-shadow: 0px 0px 8px 0px rgba(204,204,204,1);
                padding-bottom: em(15);
            }
            .modal-character-description-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: em(25);
                padding-top: em(25);
                .item-wrapper {
                    cursor: pointer;
                    width: calc(25% - 1em);
                    padding: em(15);
                    border-radius: 7px;
                    position: relative;
                    border : 1px solid $black;
                    box-shadow: 0px 0px 4px 0px rgba(204,204,204,1);
                    min-height: em(425);
                    height: auto;
                    overflow: hidden;
                    &:hover {
                        border: 1px solid $orange !important;
                        box-shadow: 0px 0px 4px 0px rgba(204,204,204,1);
                    }
                    &.selected-tab {
                        border: 1px solid $orange;
                        box-shadow: 0px 0px 4px 0px rgba(204,204,204,1);
                    }
                    .item {
                        min-height: em(375);
                        &.item-base-information-wrapper {
                            .modal-stats-wrapper {
                          
                                ul {
                                    margin: 0;
                                    padding: 0;
                                    li {
                                        list-style-type: none;
                                    }
                                }
                            }
                        }
                        &.item-story-wrapper {
                            .btn--back {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                margin: em(10);
                                border : 0;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    
                }
            }
            .modal-confirmation-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
        }
        .class-container {
            .modal-stats-wrapper {
               p{
                font-size: em(12);
               } 
            }
        }
        // .sidebar {
        //     // padding-left : em(50);
        //     ul {
        //         margin: 0;
        //         padding: 0;
        //         li {
        //             list-style-type: none;
        //             cursor: pointer;
        //             &.active {
        //                 color: $orange;
        //                 font-weight: 700;
        //             }
        //         }
        //     }
        //     &--classes-container {
        //         text-align: right;
        //     }

        // }
        // .character-info-container {
        //     .race-container {

        //     }
        //     .gender-container {
        //         .btn--gender  {
        //             width: em(25);
        //             height: em(25);
        //             &.active {
        //                 background-color : $orange;

        //             }
        //             i {
        //                 cursor: pointer;
        //             }
                    
        //         }
        //     }
        //     .class-container {
                
        //     }
        //     .name-container {
        //         .name-wrapper {
        //             .form-name-wrapper {
        //                 display: flex;
        //                 flex-direction: column;
        //                 width: em(350);
        //                 margin: em(25) auto;
        //                 input {
        //                     border:  1px solid $orange;
        //                     padding: em(10) em(5);
        //                     background-color: transparent;
        //                     border-radius: 5px;
        //                 }
        //                 button {
        //                     border-color: transparent;
                            
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}